.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  height: 300px;
  width: 200px;
  margin: 8px;
  background: var(--item-bg);

  &:hover {
    .card-overlay {
      transform: translateY(0);
      top: 0px;
      height: 300px;
      overflow-y: scroll;
    }

    .card-header {
      margin-bottom: 0rem;
    }
  }

  .card-image {
    width: 100%;
    height: 200px;
  }

  .card-overlay {
    position: absolute;
    top: 175px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    border-radius: calc(var(--curve) * 1px);
    background-color: var(--item-bg);
    height: 120px;
    transition: 0.2s ease-in-out;
  }

  .card-header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;
    background-color: var(--item-bg);
    transform: translateY(0%);
    transition: 0.2s ease-in-out;
    height: 120px;
    margin-bottom: 1rem;
  }

  .card-arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;

    path {
      fill: var(--item-bg);
      d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
    }
  }

  .card-thumb {
    flex-shrink: 0;
    width: 60px;
    height: 40px;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
  }

  .card-title {
    font-size: 1rem;
    margin: 0 0 0.1em;
    color: var(--primary-color);
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
  }

  .card-tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";
    font-size: 0.8em;
    color: var(--primary-bg);
  }

  .card-description {
    padding: 0 2em 2em;
    margin: 0;
    color: var(--primary-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
}
