<div class="chip-list p-1 with-border-radius d-flex-row full-width scroll-x primary-bg">
  <span class="font-size-l">Recent Visits:</span>
  <div *ngIf="visitedCountries$ | async as visitedCountries; else noRecentView" class="d-flex-row">
    <a *ngFor="let country of visitedCountries" (click)="toCountry(country.name.common)">
      <span class="chip">{{country.flag}} {{country.name.common}}</span>
    </a>
  </div>
  <ng-template #noRecentView>
    <div>
      <h1>No recent views </h1>
    </div>
  </ng-template>
</div>
