// * base styles
//
:root {
  --surface-color: #fef8f8;
  --item-bg: #fff;
  --placeholder-color: rgba(0, 0, 0, 0.5);
  --input-color: #000000;
  --primary-color: #6a515e;
  --primary-bg: #d7bdca;
  --curve: 40;
}
html[data-theme="dark"] {
  --surface-color: #000000;
  --item-bg: rgb(28, 27, 27);
  --primary-color: #ffffff;
  --primary-bg: #d7bdca;
  --curve: 40;
}
* {
  box-sizing: border-box;
  color: var(--primary-color);
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Noto Sans JP", sans-serif;
  background-color: var(--surface-color);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

// * utilities styles
//
.d-inline-block {
  display: inline-block;
}
.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  &-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column !important;
    flex-direction: column !important;
  }

  &-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row !important;
    flex-direction: row !important;
  }
}
.align {
  &-start {
    align-items: flex-start !important;
  }
  &-end {
    align-items: flex-end !important;
  }
}
.justify {
  &-start {
    justify-content: flex-start !important;
  }
  &-between {
    justify-content: space-between !important;
  }
}
.full {
  &-width {
    width: 100%;
  }

  &-height {
    height: 100%;
  }
}

.scroll {
  &-x {
    overflow-x: auto;
  }
  &-y {
    overflow-y: auto;
  }
}
.primary {
  &-bg {
    background-color: var(--surface-color);
  }
  &-color {
    color: var(--primary-color);
  }
}

.white {
  &-bg {
    background: white;
  }

  &-color {
    color: white;
  }
}

.p {
  &-t {
    &-1 {
      padding-top: 1rem !important;
    }
    &-2 {
      padding-top: 2rem !important;
    }
  }
  &-b {
    &-1 {
      padding-bottom: 1rem !important;
    }
    &-2 {
      padding-bottom: 2rem !important;
    }
  }
  &-x {
    &-1 {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
    &-2 {
      padding-left: 2rem !important;
      padding-right: 2rem !important;
    }
  }
  &-y {
    &-1 {
      padding-top: 1rem !important;
      padding-bottom: 1rem !important;
    }
    &-2 {
      padding-top: 2rem !important;
      padding-bottom: 2rem !important;
    }
  }
  &-1 {
    padding: 1rem;
  }

  &-2 {
    padding: 2rem;
  }
}

.font-size {
  &-l {
    font-size: 1.2em;
  }
  &-m {
    font-size: 1em;
  }
  &-s {
    font-size: 0.8em;
  }
}
.with-shadow {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.with-border-radius {
  border-radius: calc(var(--curve) * 1px);
}

// * components styles
//
.btn {
  color: var(--primary-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-items: center;
  border: 1px solid var(--primary-color);
  border-radius: calc(var(--curve) * 1px);
  padding: 0.5em 1em;
  transition: all ease-in-out 400ms;
  cursor: pointer;
  background-color: var(--surface-color);
  &:hover {
    color: var(--primary-bg);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-bg);
  }
}
.chip-list {
  justify-content: flex-start !important;
  align-items: center;
}

.chip {
  padding: 0.3em 0.8em;
  margin: 0.2em;
  background-color: var(--primary-bg);
  color: var(--primary-color);
  border-radius: calc(var(--curve) * 1px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  cursor: pointer;
  transition: all ease-in-out 400ms;
  &.selected {
    background-color: var(--primary-color);
    span {
      color: var(--primary-bg);
    }
  }
  &:hover {
    transform: scaleX(1.1);
  }
}

.info-tile {
  font-size: 0.8em;
  text-transform: capitalize;
  margin: 0px 0px 0.2em 0px;
  justify-content: start !important;
  font-weight: bold;
  color: var(--primary-color);
  mat-icon,
  .currency-span {
    margin-right: 0.2em;
  }
}
.card-status {
  font-size: 0.8em;
  background-color: var(--primary-bg);
  color: var(--surface-color);
  padding: 4px;
  margin: 2px;
  border-radius: 4px;
}

.currency-symbol {
  font-size: 1.5rem;
  font-weight: bold;
}
